*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
}
/*Styling for hero div*/
.hero{
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #1ca14f, #2ec8d3);
    display: flex;
    flex-direction: column;
    /*Color for rest of heading text*/
    color: #091222; 
}
/*Styling for title h1*/
.hero h1{
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 500;
}
/*CSS for span*/
.hero h1 span{
    color: #9b2c69;
}
/*Styling for textarea*/
textarea{
    height: 250px;
    width: 600px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
    font-size: 15px;
    background: #bcbbd3;
    padding: 20px;
    color: #fff;
}
textarea::placeholder{
    font-size: 16px;
    color: #161820fa
}
/*CSS to align button and select box on class name row*/
.row{
    display: flex;
    width: 600px;
    align-items: center;
    gap: 20px;
}
button{
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background: #9b2c69;
    font-size: 16px;
}
